@import "~styles/mixins";
@import "~styles/vars";


.logo {
  border-radius: @base-spacing-unit;
  width: @base-spacing-unit * 2;
  height: @base-spacing-unit * 2;
  background: red;
  text-align: center;
  margin: @base-spacing-unit 0;
}


.logo__letters {
  .font-size(@h4-size);
  display: inline-block;
  margin-top: @base-spacing-unit / 2.5;
  color: #fff;
  font-family: 'Lato', 'sans-serif';
}
