@import "~styles/mixins";
@import "~styles/vars";


.posts {
  margin-bottom: @base-spacing-unit * 3;
}


.posts-row {
  margin-bottom: @base-spacing-unit;
}


.posts-row__title {
  .font-size(@h4-size);
  display: inline-block;
  margin-bottom: @base-spacing-unit / 3;
  font-family: 'Lato', 'sans-serif';
}


.posts-row__preview {
  margin: 0;
  overflow: hidden;
}
