@import "~styles/mixins";
@import "~styles/vars";

// Typography
html {font-size: 1em;}

body {
  line-height: 1.45;
  color: #444;
  font-family: 'Merriweather', 'serif';
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'Lato', 'sans-serif';
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

a {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid red;
}


// Own resets
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.app {
  padding: 0 @base-spacing-unit / 1.5;

  // iPhone 6
  .responsive(375px, {
    padding: 0 @base-spacing-unit;
  });

  .responsive(650px, {
    padding: 0;
    width: 600px;
    margin: 0 auto;
  });
}
