@import "~styles/vars";
@import "~styles/mixins";


.post {
}


.post p {
  // margin-bottom: @base-spacing-unit / 4;
  margin-bottom: 0;
  margin-top: 0;
}


.post p+p {
  text-indent: @base-spacing-unit * 2;

  .responsive(650px, {
    text-indent: @base-spacing-unit * 2.5;
  });
}


.post__title {
  .font-size(@h3-size); 
  text-align: center;
}


.post__date {
  text-align: center;
  color: #777;
  margin-bottom: @base-spacing-unit * 3;
}


.post__back {
  margin: @base-spacing-unit * 2 0;
  text-align: center;
}


.post__back-link {
}
